<%- include("header"); %>

<img id = "bg-img" src="/images/boston-public-library-_f9cP4_unmg-unsplash.jpg" alt="">

<div class="main">
    <div class="container1">
        <h1>Journal <%= Heading %></h1>
        <h2 class="date">-<%= Date.slice(4,15) %></h2>
        <div class="child1">
            <p>
                Dear Diary,<br>
                <!-- <span class="mainText" onload="EnterNewLine()">
                </span> -->
                <%= Journal %>
            </p>
        </div>
    </div>
</div>

<!-- <script>
    function EnterNewLine() {
        console.log("Called");
        document.getElementsByClassName("mainText").innerHTML = Journal.replace("\r\n", <br>);
    }
    // document.getElementsByClassName("mainText").inner
</script> -->
<%- include("footer"); %>